* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', sans-serif;
  --ff-texting: 'Palanquin', sans-serif;

  --bg-primary: hsl(218, 17%, 62%);
  --bg-secundary: hsl(233, 100%, 97%);
  --bg-terciary: hsl(275, 18%, 79%);

  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(274, 84%, 12%);
  --fc-secondary-dark: hsl(232, 17%, 35%);

  font-size: 62.5%;
  --fs-body: 2rem;
  --fs-heading: 4rem;
}

body {
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

  font-size: var(--fs-body);
}

.img-header {
  margin: auto;
  width: 40%;
}

img {
  width: 100%;
  height: auto;
}

.box-header {
  background-color: var(--bg-terciary);
  height: 4.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.8rem;
  margin-top: 3.2rem;
}

header {
  margin: 3.2rem 0 0;

  text-align: center;

  background-color: var(--bg-primary);

  animation: topdown;
  animation-duration: 700ms;
}

header h1 {
  font-family: var(--ff-heading);
  text-transform: uppercase;
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  letter-spacing: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 5rem;
}

main {
  padding: 3.2rem;

  background-color: var(--bg-secundary);

  animation: downtop 700ms 350ms backwards;
}

.header-description {
  text-align: center;
  font-family: var(--ff-texting);
  font-weight: 400;
  color: var(--fc-secondary);

  background-color: var(--bg-secundary);

  line-height: 2.5rem;
}

.card-A,
.card-B {
  position: relative;

  font-family: var(--ff-heading);

  margin-bottom: 3.2rem;
}
.card-A img {
  height: 25rem;
  object-fit: cover;
  border-radius: 2rem;
  transition: all 200ms;
}

.card-B img {
  height: 45rem;
  object-fit: cover;
  border-radius: 2rem;
  transition: all 200ms;
}

.card-A img:hover,
.card-B img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card-A h2,
.card-B h2 {
  position: absolute;
  top: 1.7rem;
  right: 0.9rem;

  font-size: var(--fs-heading-sm);
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card-A span,
.card-B span {
  border-radius: 2rem;
  background-color: #feeafa;
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding: 0 1.6rem;

  width: fit-content;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;
}

footer {
  display: none;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1280px) {
  :root {
    --fs-heading: 4.8rem;
  }

  .page {
    display: grid;
    /*grid-template-columns: 1fr 2fr;
    display: grid;*/

    grid-template-columns: 500px 1fr;
  }

  .img-header {
    margin: auto;
    width: 50%;
  }

  .box-header {
    background-color: var(--bg-terciary);

    height: 7rem;
  }

  header h1 {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 5.2rem;

    letter-spacing: 0.2rem;
    justify-content: center;
  }

  .header-description {
    color: var(--fc-primary);
    margin: 0 10rem 12.5rem 10rem;
    line-height: 4rem;
    font-size: 2.5rem;
    background-color: var(--bg-primary);
  }

  main {
    padding: 6.4rem;

    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-A,
  .card-B {
    position: relative;

    font-family: var(--ff-heading);
  }

  .card-A img,
  .card-B img {
    width: 90%;
  }

  .card-A h2,
  .card-B h2 {
    display: none;
  }

  .card-A span,
  .card-B span {
    display: none;
  }

  footer {
    display: block;
    line-height: 2.8rem;
    background-color: #ffffff;
    color: #4a4e69;
    height: auto;
    text-align: center;
  }
}
